﻿@model EPromet.Models.Korisnik

@{
    ViewData["Title"] = "Edit";
}

<h2>Izmena profila</h2>
<br />



<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="KorisnickoIme" class="control-label"></label>
                <input asp-for="KorisnickoIme" class="form-control" />
                <span asp-validation-for="KorisnickoIme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lozinka" class="control-label"></label>
                <input asp-for="Lozinka" class="form-control" />
                <span asp-validation-for="Lozinka" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PotvrdiLozinku" class="control-label"></label>
                <input asp-for="PotvrdiLozinku" class="form-control" />
                <span asp-validation-for="PotvrdiLozinku" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ime" class="control-label"></label>
                <input asp-for="Ime" class="form-control" />
                <span asp-validation-for="Ime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prezime" class="control-label"></label>
                <input asp-for="Prezime" class="form-control" />
                <span asp-validation-for="Prezime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatumRodjenja" class="control-label"></label>
                <input asp-for="DatumRodjenja" class="form-control" />
                <span asp-validation-for="DatumRodjenja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adresa" class="control-label"></label>
                <input asp-for="Adresa" class="form-control" />
                <span asp-validation-for="Adresa" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label asp-for="Avatar" class="control-label"></label>
                <div class="custom-file">
                    <input type="file" asp-for="Avatar" class="form-control" name="avatar" accept="image/png"/>
                </div>
                <span asp-validation-for="Avatar" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Uloga" class="control-label"></label>
                <input asp-for="Uloga" class="form-control" />
                <span asp-validation-for="Uloga" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Verifikovan" class="control-label"></label>
                <input asp-for="Verifikovan" class="form-control" />
                <span asp-validation-for="Verifikovan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
