﻿@model IEnumerable<EPromet.Models.Korisnik>

@{
    ViewData["Title"] = "Verifikacija";
}

<h2>Verifikacija</h2>
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KorisnickoIme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prezime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumRodjenja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uloga)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Verifikovan)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KorisnickoIme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prezime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumRodjenja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uloga)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Verifikovan)
            </td>
            @if (item.Uloga.ToString() == "DOSTAVLJAC")
                {
                    <td>
                        @Html.ActionLink("Skini verifikaciju", "UnverifikacijaKorisnika", new { id = item.Id })
                    </td>
                }
                else if(item.Uloga.ToString() == "KORISNIK")
                {
                    <td>
                        @Html.ActionLink("Verifikuj", "VerifikacijaKorisnika", new { id = item.Id })
                    </td>
                }
                else if(item.Uloga.ToString() == "GOST")
                {
                    <td>
                        @Html.ActionLink("Odobri registraciju", "OdobrenaRegistracija", new { id = item.Id })
                    </td>
                }
                else
                {
                    <td>

                    </td>
                }                
        </tr>
}
    </tbody>
</table>
