﻿@model IEnumerable<EPromet.Models.Proizvod>

@{
    ViewData["Title"] = "Shop";
}
<h2>Ponuda hrane u nasem restoranu</h2>
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sastojci)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cena)
            </td>
            <td width="500">
                @Html.DisplayFor(modelItem => item.Sastojci)
            </td>
            <td>
                @if (Global.UserRole != null && Global.UserRole.ToString() == "KORISNIK" && ( Global.Porudzbina == null || ((Porudzbina)Global.Porudzbina).Status.ToString() == "NEPOTVRDJENA"))
               {                   
                    //@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ })
                    @Html.ActionLink("Dodaj u korpu","Dodaj", new { id = item.Id, naziv=item.Naziv, cena=item.Cena,sastojci=item.Sastojci})
               }
                @if (Global.UserRole != null && Global.UserRole.ToString() == "ADMINISTRATOR")
               {                   
                    //@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ })
                    @Html.ActionLink("Obrisi proizvod","ObrisiProizvod", new { id = item.Id, naziv=item.Naziv, cena=item.Cena,sastojci=item.Sastojci})
               }
            </td>
        </tr>
}
    </tbody>
</table>

