﻿@model EPromet.Models.Porudzbina

@{
    ViewData["Title"] = "Korpa";
}

<h2>Vasa korpa</h2>
<br />


<div>
<table class="table">
    <thead>
        <tr>
            <th>
                Cena
            </th>
            <th>
                Naziv
            </th>
            <th>
                Sastojci
            </th>
            <th>
                
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (Proizvod p in Model.ListaProizvoda)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => p.Cena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => p.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => p.Sastojci)
            </td>      
            <td>
                @if (Global.UserRole != null && Global.UserRole.ToString() == "KORISNIK")
                {                   
                    //@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ })
                    @Html.ActionLink("Ukloni proizvod","UkloniProizvod", new { id = p.Id, naziv=p.Naziv, cena=p.Cena,sastojci=p.Sastojci})
                }
            </td>
        </tr>
        }
        <tr>
            <td style="border-bottom:none">
                + Dostava 300
            </td>
        </tr>
        <tr>
            <td style="border:1px solid red">
                @Html.DisplayFor(model => model.Cena)
            </td>
        </tr>
    </tbody>
</table>

</div>

<div>
    
                   
    @*<div class="form-group">
        <label asp-for="Komentar" class="control-label"></label>
        <input id="komentarText" asp-for="Komentar" class="form-control" name="komentarText"/>
        <span asp-validation-for="Komentar" class="text-danger"></span>
    </div>
    <input id="komentar" type="text" name="komentarText" />*@

    @Html.ActionLink("Potvrdi porudzbinu","TrenutnaPorudzbina", new {id=Model.Id,idKorisnika=Model.IdKorisnika,
                    idDostavljaca=Model.IdDostavljaca,listaProizvoda=Model.ListaProizvoda ,adresa=Model.Adresa,cena=Model.Cena,status=Model.Status})
</div>

     