﻿@model EPromet.Models.Porudzbina

@{
    ViewData["Title"] = "MojaPorudzbina";
}

<h2>Porudzbina ID#@Model.Id</h2>
<br />

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Komentar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Komentar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cena)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>

@if (Global.UserRole != null && Global.UserRole.ToString() == "DOSTAVLJAC")
{
    <div>
        @Html.ActionLink("Porudzbina dostavljena", "PorudzbinaDostavljena", new { id=Model.Id })
    </div>
}
